@font-face {
  font-family: 'Sligoil';
  src: url('fonts/Sligoil-Micro.woff2') format('woff2'),
       url('fonts/Sligoil-Micro.woff') format('woff'),
       url('../fonts/Sligoil-Micro.ttf') format('truetype'),
}

body {
    font-family: Sligoil;
    background-color: #7AD7F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Add this line to limit the width to 400px */
  overflow-wrap: break-word; /* Add this line to enable text wrapping */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
om: 10px;
  font-family: 'Piscolabis', sans-serif;
  text-align: center;
}

footer {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

a:link {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

a:visited {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

a:hover {
  text-decoration: underline;
  color:white;
  font-weight:bold;
}

a:active {
  text-decoration: underline;
  color:white;
  font-weight:bold;
}
